body {
    width: 590pt;
}

body .mU4ghb {
    width: 280px;
}

.pbTTYe {
    padding: 0;
    border-bottom: none
}

.pbTTYe-r4nke {
    display: none;
}

.pbTTYe-BPrWId {
    margin-left: 0;
}

.un1lmc-pbTTYe-ibnC6b-r4nke {
    max-width: 100%;
}
